<div class="container py-5">
    <div class="row">
        <div class="col-md-6 mb-4 mb-md-0">
            <div>
                <h3>Get in Touch</h3>
                <p>We'd love to hear from you! Please find our contact details below or send us a message.</p>
            </div>
            <div class="mt-4">
                <h5>Contact Information</h5>
                <p><strong>Company Name:</strong> Acme Corporation</p>
                <p><strong>Phone:</strong> +91 33 XXXXXXXX</p>
                <p><strong>Address:</strong> 123, Park Street, Kolkata - 700016, West Bengal, India</p>
                <p><strong>Email:</strong> info.com</p>
            </div>
            <div class="mt-4">
                <h5>Connect With Us</h5>
                <a href="https://www.facebook.com/" target="_blank" class="me-2">
                    <img src="assets/facebook.png" alt="Facebook" width="32" height="32">
                </a>
                <a href="https://www.instagram.com/" target="_blank" class="me-2">
                    <img src="assets/instagram.png" alt="Instagram" width="32" height="32">
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <img src="assets/linkedin.png" alt="LinkedIn" width="32" height="32">
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <h3>Send Us a Message</h3>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <input type="text" class="form-control" placeholder="Your Name">
                </div>
                <div class="col-md-6 mb-3">
                    <input type="email" class="form-control" placeholder="Your Email Address">
                </div>
            </div>
            <div class="mb-3">
                <textarea class="form-control" rows="5" placeholder="Your Message"></textarea>
            </div>
            <button class="btn btn-primary">Send Message</button>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div style="width: 100%; height: 300px;">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3682.032987654321!2d88.34758551479225!3d22.57093748514789!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0276924e7c11cb%3A0x9b9593928b3f4402!2sPark%20Street%2C%20Kolkata%2C%20West%20Bengal!5e0!3m2!1sen!2sin!4v1678886400000!5m2!1sen!2sin"
                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
