<div id="intro">
  <ngb-carousel *ngIf="slides.length > 0" class="rounded shadow">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div
        class="position-relative d-flex w-100 align-items-center justify-content-center"
        [ngStyle]="{
          height: '400px',
          background: slide.background
        }"
      >
        <div *ngIf="slide.content">
          <div [ngStyle]="slide.content.style">
            {{ slide.content.text }}
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  
      
</div>
  