#intro {
  padding-top: 3rem;
}

.slide-container {
  height: 400px;
}

/* Backgrounds */
.bg-slide-1 {
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.bg-slide-2 {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

/* Text styles */
.slide-1-text-1 {
  color: white;
  font-size: 45px;
  padding: 10px;
  border-radius: 10px;
  max-width: 60%;
  text-align: center;
  animation: typing 6s ease-in-out infinite;
}

.slide-1-text-2 {
  color: black;
  font-size: 24px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  animation: scaleUp 2s ease-in-out infinite;
}

.slide-2-text-1 {
  color: #fff;
  font-size: 24px;
  background-color: #00000066;
  padding: 30px;
  border-left: 5px solid yellow;
  text-align: left;
  animation: fadeInOut 6s ease-in-out infinite;
}

