<div id="intro">
  <ngb-carousel *ngIf="slides.length > 0" class="rounded shadow" [interval]="5000">
    <ng-template ngbSlide *ngFor="let slide of slides">
      <div
        class="position-relative d-flex flex-column w-100 align-items-center justify-content-center slide-container"
        [ngClass]="slide.backgroundClass"
      >
        <ng-container *ngFor="let block of slide.content">
          <div *ngIf="!block.texts" [ngClass]="block.class" [innerHTML]="block.text"></div>
          <div *ngIf="block.texts" class="d-flex justify-content-center gap-3"> <div *ngFor="let expertise of block.texts" class="slide-2-expertise-item">{{ expertise }}</div>
          </div>
          <div *ngIf="block.text2" class="d-flex justify-content-center gap-3"> <div *ngFor="let expertise of block.text2" class="slide-2-expertise-item">{{ expertise }}</div>
          </div>
        </ng-container>
      </div>
    </ng-template>
  </ngb-carousel>
</div>
