<div class="container py-5" >
  <div class="row">
    <h2 class="text-center title">{{ translation.title }}</h2>
  </div>
  <div class="row">
    <p class="lead text-center description">{{ translation.description }}</p>
  </div>
  <div class="row">
    <div class="col-sm commonSection">
      <p class="lead section1">{{ translation.section1 }}</p>
    </div>
    <div class="col-sm commonSection">
      <img src="/assets/section1.png" alt="Section 1 Logo" width="450" height="250">
    </div>
  </div>
  <div class="row">
    <div class="col-sm commonSection">
      <img src="/assets/section2.png" alt="Section 2 Logo" width="450" height="250">
    </div>
    <div class="col-sm commonSection">
      <p class="lead section1">{{ translation.section2 }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm commonSection">
      <p class="lead section1">{{ translation.section3 }}</p>
    </div>
    <div class="col-sm commonSection">
      <img src="/assets/section3.jpg" alt="Section 3 Logo" width="450" height="250">
    </div>
  </div>
</div>

  